.image-container {
  height: 200px; /* Ajusta esta altura según tus necesidades */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}